
.Speech{
font-family: 'Times New Roman', Times, serif;
font-size: small;
color: black;
}

.direction{
font-family: Arial, Helvetica, sans-serif;
font-size:smaller;
color: black;
background-color: beige;
}

.direction:hover{
    background-color: darkkhaki;
    color:rgb(0, 130, 0);
}

.BRACK{
    color: chocolate;
}

.BRACK:hover{
    box-shadow: 3px 3px 6px #80c0e8;
    border-style:outset;
}

.HEDDA{
    color: rgb(198, 119, 228);
}

.HEDDA:hover{
    box-shadow: 3px 3px 6px #cf3697;
    border-style:dotted;
}


.table{
    width: 50%;
    margin-bottom: 25px;
    border-collapse: collapse;
}

.table td, .table th{
    border: solid 1px;
    text-align: center;
    padding: 10px;
}

.table th{
    background-color: bisque;
}

.table tr:nth-child(even){
    background-color: beige;
}

